<div class="w-full lg:flex my-5">
  <div class="flex ml-6 mt-2">
    <img
      src="../../../assets/img/sidebarellipse.svg"
      alt=""
      class="h-6 w-6 pt-1"
    />
    <p class="text-[#003034] font-extrabold text-[18.49px] ml-4">Teams.co</p>
  </div>

  <div class="w-1/2 ml-32">
    <app-searchbox></app-searchbox>
  </div>

  <div class="md:inline-block sm:inline-block lg:mr-4 lg:ml-auto sm:ml-4">
    <div class="flex -space-x-2 overflow-hidden">
      <span class="mt-2.5 mr-3"> online </span>
      <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt=""
      />
      <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt=""
      />
      <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
        alt=""
      />
      <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt=""
      />
      <img
        class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt=""
      />
    </div>
  </div>
</div>

<!-- chatbox -->
<div class="mx-6 my-2 bg-[#FFFDFA]">
  <p class="py-2 text-[#292929] font-semibold text-[24px] leading-[29px]">
    ChatBox
  </p>

  <div class="flex w-full border rounded my-3">
    <!-- for sidebar -->

    <div class="col-span-4 w-1/4 border-r">
      <div class="my-6">
        <p class="chat-text-header mx-4">Chat</p>
        <div class="my-4 mx-4">
          <form class="flex items-center">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="div-svg-search">
                <svg
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>
              <input
                type="text"
                id="simple-search"
                class="simple-search-input"
                placeholder="Search"
                required
              />
            </div>
          </form>
        </div>
        <div class="">
          <ul class="">
            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />

                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text">Chatbox</p>
                    <img
                      src="../../../assets/img/Group 18753.svg"
                      alt="rect-4310"
                    />
                    <p class="xl:ml-[8.9rem] 2xl:ml-60 time">20:30</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
              <!-- <hr style="width:80%;height:3px; color: brown; margin-left:10%"> -->
            </li>
            <!-- divide-y divide-slate-200" -->
            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">
            
              <li class="chatbox-list bg-[#EEF6F6] p-4 border-l-4 border-b-0 border-[#4E989F]">
                <span class="relative flex">
                  <img
                    src="../../../assets/img/uiface.jpg"
                    class="rounded-full h-10 w-10"
                    alt="icon"
                  />
                  <div class="green-dot top-6 left-8"></div>
                  <div class="ml-3">
                    <span class="flex">
                      <p class="chatbox-text">Matt Dickerson</p>
                      <p class="xl:ml-[7rem] 2xl:ml-[13rem] time">20:30</p>
                    </span>
                    <p class="msg-content">Looking forward to heari...</p>
                  </div>
                </span>
              </li>

              <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">

            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />
                <div class="green-dot top-6 left-8"></div>
                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text whitespace-nowrap">
                      Kaylynn Ekstrom Bothman
                    </p>
                    <p class="xl:ml-7 2xl:ml-[7.8rem] time">20:30</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
            </li>

            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">

            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />
                
                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text whitespace-nowrap">Hanna Torff</p>
                    <p class="xl:ml-[8.7rem] 2xl:ml-[14.7rem] time">16:40</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
            </li>

            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">

            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />
                <div class="green-dot top-6 left-8"></div>
                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text whitespace-nowrap">
                      Tatiana Herwitz
                    </p>
                    <p class="xl:ml-[6.9rem] 2xl:ml-[12.9rem] time">16:40</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
            </li>

            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">

            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />

                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text whitespace-nowrap">
                      Cheyenne Rhiel Madsen
                    </p>
                    <p class="xl:ml-[3.1rem] 2xl:ml-[9rem] time">16:40</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
            </li>

            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">

            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />
                <div class="green-dot top-6 left-8"></div>
                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text whitespace-nowrap">Brandon Kenter</p>
                    <p class="xl:ml-[6.8rem] 2xl:ml-[12.8rem] time">16:40</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
            </li>

            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">

            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />

                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text whitespace-nowrap">
                      Kaylynn Philips
                    </p>
                    <p class="xl:ml-[7rem] 2xl:ml-[12.9rem] time">16:40</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
            </li>

            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">

            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />

                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text whitespace-nowrap">Haylie Dias</p>
                    <p class="xl:ml-[9rem] 2xl:ml-[14.8rem] time">16:40</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
            </li>

            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">

            <li class="chatbox-list p-4">
              <span class="relative flex">
                <img
                  src="../../../assets/img/uiface.jpg"
                  class="rounded-full h-10 w-10"
                  alt="icon"
                />

                <div class="ml-3">
                  <span class="flex">
                    <p class="chatbox-text whitespace-nowrap">John Doe</p>
                    <p class="xl:ml-[9.7rem] 2xl:ml-[15.5rem] time">16:40</p>
                  </span>
                  <p class="msg-content">Looking forward to heari...</p>
                </div>
              </span>
            </li>

            <hr style="width:90%;height:1px; color: brown; margin-left:5%; margin-right:5%">
            
          </ul>
        </div>
      </div>
    </div>

    <!--  for chatbox -->

    <div
      class="h-full rounded"
      [ngClass]="!isButtonClicked ? 'w-3/4' : 'w-1/2'"
    >
      <!--   -->
      <!-- for head -->
      <div class="flow-root py-5 pl-6 border-b">
        <div class="float-left flex">
          <span class="relative flex">
            <img
              src="../../../assets/img/uiface.jpg"
              class="rounded-full h-12 w-12"
              alt="icon"
            />
            <div class="green-dot top-7 left-10"></div>
            <div class="ml-3">
              <span class="flex">
                <p class="user-chat">Matt Dickerson</p>
              </span>
              <p class="msg-content">Clinical Psychologist</p>
            </div>
          </span>
        </div>
        <div class="float-right flex" *ngIf="!hideMedia">
          <div class="mt-1">
            <button
              class="arrow-button flex absolute right-6"
              (mouseover)="isArrowClicked = true"
              (mouseleave)="isArrowClicked = false"
              [ngClass]="
                !isArrowClicked ? 'arrow-button' : 'arrow-button-extended '
              "
            >
              <img src="../../../assets/img/Group 4573.png" alt="left-arrow" />

              <ng-container *ngIf="isArrowClicked"
                ><span class="media-btn-content" (click)="showMedia()"
                  >Media</span
                ></ng-container
              >
            </button>
          </div>
        </div>
      </div>
      <!-- for chat section -->
      <div class="msg-content-div">
        <ul>
          <li class="flex">
            <div class="">
              <img
                src="../../../assets/img/uiface.jpg"
                alt="user"
                class="h-10 w-10 rounded-full"
              />
            </div>
            <div class="ml-2">
              <p class="msg-content-user">Matt Dickerson, 20:30</p>
              <p class="msg-content-txt-left">Hello James, Nice to meet you.</p>
              <p class="msg-content-txt-left2">
                Lorem Ipsum is simply dummy text of the
              </p>
            </div>
          </li>
          <li class="flex justify-end rounded p-1">
            <p class="msg-content-user">20:32</p>
          </li>
          <li class="msg-content-text-right">
            <p>Lorem Ipsum is simply dummy text</p>
            <p>of the printing and typesetting</p>
            <p>industry.</p>
          </li>
          <li class="flex mt-20">
            <div class="">
              <img
                src="../../../assets/img/uiface.jpg"
                alt="user"
                class="h-10 w-10 rounded-full"
              />
            </div>
            <div class="ml-2">
              <p class="msg-content-user">Matt Dickerson, 20:30</p>
              <p class="msg-content-txt-left">Hello James, Nice to meet you.</p>
              <p class="msg-content-txt-left2">
                Lorem Ipsum is simply dummy text of the
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- for foot -->
      <div class="flex mt-2 justify-center bg-[rgba(174, 174, 174, 0.4)]">
        <div class="flow-root border rounded-full w-3/4 p-4 mt-4">
          <input
            type="text"
            placeholder="Write a message..."
            class="outline-none pl-4"
          />
          <div class="float-right mr-4 flex space-x-5">
            <img class="h-5" src="../../../assets/img/emoji.png" alt="emoji" />
            <img
              class="h-5"
              src="../../../assets/img/clip.png"
              alt="insert-media"
            />
          </div>
        </div>
        <div class="ml-3 mt-5">
          <button class="rounded-full h-14 w-14 bg-[#4E989F]">
            <img
              src="../../../assets/img/sentIcon1.png"
              alt=""
              class="px-3 py-1 h-9"
            />
          </button>
        </div>
      </div>
    </div>

    <!-- for media -->
    <ng-container *ngIf="crossMedia">
      <ng-container
        *ngIf="isButtonClicked"
        [ngClass]="
          !isButtonClicked ? 'arrow-button' : 'arrow-button-extended hidden'
        "
      >
        <div class="col-span-4 w-1/4 border-l">
          <div class="h-[4rem]">
            <div class="my-6 mx-5">
              <div class="flex py-2">
                <p class="chat-text-header">Media</p>
                <p class="media-pic-text">24 pictures</p>
                <img
                  class="ml-auto mb-1"
                  src="../../../assets/img/cross-icon.svg"
                  (click)="hideMediaButton()"
                  alt=""
                />
              </div>
            </div>
            <!-- for images -->
            <div>
              <div class="grid grid-cols-2 gap-2 px-8">
                <div class="">
                  <img
                    src="../../../assets/img/media-wall.png"
                    alt=""
                    class="w-48"
                  />
                </div>
                <div class="">
                  <img
                    src="../../../assets/img/media-wall.png"
                    alt=""
                    class="w-48"
                  />
                </div>
                <div class="">
                  <img
                    src="../../../assets/img/media-wall.png"
                    alt=""
                    class="w-48"
                  />
                </div>
                <div class="">
                  <img
                    src="../../../assets/img/+21.png.png"
                    alt=""
                    class="w-48"
                  />
                </div>
              </div>
            </div>
            <!-- for file explorer contents -->
            <div class="mx-8 mt-16">
              <div class="flex">
                <p class="files-text">Files</p>
                <p class="two-files-text">2 Files</p>
              </div>
              <div class="flex my-6">
                <img src="../../../assets/img/file-explorer.png" alt="" />
                <p class="file-manager-text">Lorem Ipsum</p>
              </div>
              <div class="flex">
                <img src="../../../assets/img/file-explorer.png" alt="" />
                <p class="file-manager-text">Lorem Ipsum</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
